<div id="citro_footer" class="text-center glasses citropedia">
    <img src="Content/img/logo8_cdm.png" />
</div>
<div class="text-center privacy_policy">
    This Marketplace contains confidential customer data, including personally identifiable information.<br />Please remember that in using the Marketplace you must at all times comply with Citrix&rsquo;s Internal Privacy Policy.
</div>