<script src="~/Scripts/ViewsManager/Citropedia/Home_PartialView.js"></script>


<!-- Citropedia -->

    <div class="container-fluid search_page_template">
        @*<div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 logo">
                <a class="onClickLinkMenu" href="/Citropedia"><img src="Content/img/logo8.png" /></a>
            </div>
        </div>*@
    </div>
<div class="container">
    <div class="row">
        <div id="main_content" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="text-center logo">
                <img src="Content/img/logo8_large.png" />
            </div>
            <div class="banner">
                <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="carousel-caption">
                                <p><br />Data Sources<br /></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right search citropedia_search">
                <div class="input-group">
                    <input id="search_field" type="text" class="form-control SearchText" placeholder="Search Data Marketplace..." />
                    <span class="input-group-btn"><a id="search_home" data-idinputasociate="search_field" class="BtnSearch btn btn-primary" />Search</a></span>
                    <span class="input-group-btn dropdown">
                        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quick links</a>
                        <div class="dropdown-menu" role="menu">
                            <div><a href="http://sharepoint.citrite.net/sites/it/ea/dmo/citropedia/pages/biterms.aspx" target="_blank">BI TERMS</a></div>
                            <div><a href="http://sharepoint.citrite.net/sites/it/ea/dmo/citropedia/pages/prospectmetadata.aspx" target="_blank">Prospect Metadata</a></div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>