<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <connectionStrings>
    <add name="CDMEntities"
         connectionString="metadata=res://*/Models.CDMPortal.csdl|res://*/Models.CDMPortal.ssdl|res://*/Models.CDMPortal.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FTLQSQL05;initial catalog=CDMPortal;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>

  <appSettings>
    <add key="ElasticSearchUri" value="ftlqcdmapp01b.citrite.net" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="ElasticSearchUriPort" value="9200" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalyticsKey" value="UA-55232622-3" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
    <add key="GoogleAnalyticsCookieDomain" value="auto" xdt:Transform="SetAttributes" xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>