<script src="~/Scripts/ViewsManager/Home/Home_PartialView.js"></script>

<div class="row">    
        <div class="help_link_top text-right">
            <a class="onClickLinkMenu" href="#Site-Help">Site Help</a>
        </div>
        <div id="main_content" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="text-center logo">
                <img src="~/Content/img/logo8_large.png" />
                <a class="beta_sign beta_sign_home" href="http://www.citrix.com/tv/#videos/12883" style="background-image:url(Content/img/beta_sign_play.png)" target="_blank"></a>
                <ul class="home_menu_secc">
                    <li class="left"><a class="onClickLinkMenu" href="#Pilars">Access</a></li>
                    <li><a class="onClickLinkMenu" href="#Pilars">Governance</a></li>
                    <li class="right"><a class="onClickLinkMenu" href="#Pilars">Quality</a></li>
                </ul>
            </div>
            <div class="text-right search">
                <div class="input-group">
                    <input id="search_field" type="text" class="form-control SearchText" placeholder="Search Data Marketplace..." />
                    <span class="input-group-btn"><a data-idinputasociate="search_field" id="search_home" class="BtnSearch btn btn-primary" />Search</a></span>
                </div>
                <!--a href="#" class="btn btn-default btn-sm">Advanced Search</a-->
            </div>
            <div class="text-center home-banner">
                <a href="https://backstage.citrix.com/support/help/data-management-requests.html" target="_blank"><img src="~/Content/img/c_banner4.jpg" /></a>
            </div>
        </div>    
</div>

