<script src="~/Scripts/ViewsManager/Home/Pilars_PartialView.js"></script>
<script>
    ucSearch.scope='@ViewBag.Scope';
</script>

		<!-- Pilars -->
<div class="container-fluid search_page_template">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 logo">
            <a class="onClickLinkMenu" href="#Home"><img src="Content/img/logo8.png" /></a><div class="beta_text"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row content">
        <div class="col-sm-8 col-sm-offset-2">
            <h3 class="text-center">The three pillars that support<br />the Data Marketplace</h3>
            <div class="container3">
                <ul>
                    <li><b>Access</b>: Data Marketplace frees up Citrix data and gathers it together under one roof. What do we mean by data? Reports/Dashboards, definitions of terms, business intelligence best practices and news, and data sources (a potential future enhancement).<br /><br /><div class="img_right"><img src="Content/img/pilars_banner_2.png" /></div>This is an ongoing process, and available information will increase with time. You may or may not have access to some of the information that is available.<br /><br /></li>
                    <li><b>Governance</b>: We are continually putting in place the people and processes necessary to ensure that Citrix information assets are managed, organized, and certified. Since this is a beta release, governance is an ongoing process.<br /><br /></li>

                    <li>
                        <b>Quality</b>: Our goal is to provide information that is<br /><br />
                        <ul>
                            <li>Accurate: it follows business rules<br /><br /></li>
                            <li>Consistent: it is repeatable across all sources<br /><br /></li>
                            <li>On-time: it contains the freshest information at the moment that you need it</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <hr />
            <div class="container3">
                <div>
                    <h3 class="text-center citrix_blue">For additional information,<br /><a href="http://office2013.citrite.net/sites/bicoe" target="_blank">click here.</a></h3>
                </div>
                <div class="text-center">
                    <h3>Data Help? <a id="mostrar" class="link" href="javascript:;">[<span id="sign-plus">+</span><span id="sign-minus">-</span>]</a></h3>
                </div>
                <div id="more_info">
                    <div><b>The first thing we want you to know about the Data Help: it's FREE!</b></div>
                    Data is one of the staples you rely on when cooking up a strategy. In other words:<br />
                    <h4 class="text-center">Data is your food for thought.</h4>
                    So it makes perfect sense to come to a marketplace to gather what you need.<br />The Citrix Data Innovation Group (DIG) provides a team of specialists who are ready to answer data-related questions, large or small, and provide guidance and sound advice. <br />Contact the team if you need help locating a particular report, accessing data, creating a mash-up, or analyzing information.<br /><br />
                    <div class="text-center">
                        <b>We are here to help you gather your data - and your thoughts.</b><br />
                        <span class="citrix_blue">To access help for all data-related issues, <a href="https://backstage.citrix.com/support/help/data-management-requests.html" target="_blank">click here.</a></span>
                    </div>
                </div>
            </div>
            <hr />
            <div class="text-center">
                <h3>DIG: The Data Innovation Group <a id="mostrar2" class="link" href="javascript:;">[<span id="sign-plus2">+</span><span id="sign-minus2">-</span>]</a></h3>
            </div>
            <div id="more_info2">
                <div class="container3">
                    <div class="titles"><b>Harnessing Citrix data in order to<br />drive insights and improve decision-making</b></div>

                    DIG is a team of advanced data analytic experts with the following operational priorities:

                    <br /><br /><ul>
                        <li><b>Scale Ahead of Demand</b>: Proactively enable information and analytic capabilities ahead of business need.</li>
                        <li><b>Enable a Marketplace-like Data Experience</b>: Provide simple, governed, and scalable self-service access to data and mash-ups.</li>
                        <li><b>Deliver Data Analytics Services</b>: Provide data consulting services and enable solutions that deliver customer insights.</li>
                        <li><b>Foster a Data Community</b>: Help create a more data-driven, customer-centric culture.</li>
                        <li><b>Develop Data Analytics "Engines"</b>: Deliver data drive analysis and capabilities that increase revenue and enable new product and services capabilities.</li>
                    </ul>

                    <div class="titles"><b>Citrix One Data: Bring Data and Insights Together For Cross-Company Value</b></div>
                </div>
            </div>
            <div class="text-center logo">
                <img src="Content/img/logo4_2.png" />
            </div>
        </div>
    </div>
</div>