<div id="citro_footer" class="text-center glasses">
    <img src="Content/img/citro_logo1.png" style="max-width: 240px" />
</div>
<div style="width:555px; text-align:center; margin:0px auto; padding-bottom:15px; position:relative;">
    This Marketplace contains confidential customer data, including personally identifiable information.<br />Please remember that in using the Marketplace you must at all times comply with Citrix&rsquo;s Internal Privacy Policy.
</div>