<div class="privacy_policy">
    <div class="text_policy">
        This Marketplace contains confidential customer data, including personally identifiable information. Please remember that in using the Marketplace you must at all times comply with Citrix&rsquo;s Internal Privacy Policy.
    </div>
    <div class="text-center glasses">
        <img src="Content/img/logo4.png" />
    </div>
</div>


