<a href="#main_menu" class="btn btn-default btn-menu-xs" id="menu_xs">MENU</a>
<div id="main_menu" class="toggled">
    <div class="btn-menu"><a href="#main_menu" id="menu">M<br />E<br />N<br />U</a></div>
    <ul>
        <li><a href="#Home">Home</a></li>
        <li><a href="https://microsoftbiqa.citrite.net/sites/bicoe/Pages/default.aspx">BI Center of Excellence Home</a></li>
        <li><a href="@Url.Action("Index", "Citropedia")">Citropedia Home</a></li>
        <li><a href="https://microsoftbiqa.citrite.net/sites/marketing/Pages/Default.aspx">Marketing BI Home</a></li>
        @*<li><a href="@Url.Action("Index", "ReportsDashboards")">Reports &amp; Dashboards</a></li>
            <li><a href="@Url.Action("Index", "DataSources")">Data Sources</a></li>*@
        <li><a href="#Site-Help" data-toggle="tooltip" data-placement="top">Site Help</a></li>
        <li><a href="#Bookmarks">Bookmarks</a></li>
    </ul>
</div>