
<!-- Sidebar -->
<a href="#main_menu" class="btn btn-default btn-menu-xs" id="menu_xs">MENU</a>
<div id="main_menu" class="toggled">
    <div class="btn-menu"><a href="#main_menu" id="menu">M<br />E<br />N<br />U</a></div>
    <ul>        
        <li><a href="http://sharepoint.citrite.net/sites/it/ea/dmo/citropedia/pages/biterms.aspx" data-toggle="tooltip" data-placement="right">BI Terms</a></li>        
        <li><a href="http://sharepoint.citrite.net/sites/it/ea/dmo/citropedia/pages/prospectmetadata.aspx" data-toggle="tooltip" data-placement="right">Prospect Metadata Libraries</a></li>
        <li><a href="https://microsoftbiqa.citrite.net/sites/bicoe/Pages/default.aspx">BI Center of Excellence Home</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->