<script src="~/Scripts/ViewsManager/Bicoe/Home_PartialView.js"></script>


    <div class="container-fluid search_page_template">
        <div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 logo">
                <div class="blank_space"></div>
            </div>
        </div>
    </div>
    <div id="home_page_bicoe" class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <a id="bicoe_banner" class="onClickLinkMenu" href="#">
                    <div id="home_page_text" class="hide inner_text">
                        <img src="Content/img/logo8_bicoe.png" />
                    </div>
                    <div id="our_mission_text" class="hide inner_text">
                        <h3>Mission</h3>
                        <p>To help enable teams to provide insightful, accurate, action oriented information to the right decision makers at the right time.</p>
                        <span>&raquo; Read more</span>
                    </div>
                    <div id="learning_text" class="hide inner_text">
                        <h3>Learning</h3>
                        <p>Education and leadership on BI best practices, architecture, tools, data source usage, analytic efficiency and information visualization</p>
                        <span>&raquo; Read more</span>
                    </div>
                    <div id="governance_text" class="hide inner_text">
                        <h3>Governance</h3>
                        <p>Building trust in data through information standards, quality and accuracy</p>
                        <span>&raquo; Read more</span>
                    </div>
                    <div id="portfolio_roadmap_text" class="hide inner_text">
                        <h3>Roadmap</h3>
                        <p>Promoting alignment of business goals with BI objectives and the technology Roadmap</p>
                        <span>&raquo; Read more</span>
                    </div>
                    <div id="meeting_calendar_text" class="hide inner_text">
                        <h3>Calendar</h3>
                        <p>Discover user group meetings, training, systems updates, etc.</p>
                        <span>&raquo; Read more</span>
                    </div>
                    <div id="success_stories_text" class="hide inner_text">
                        <h3>Success Stories</h3>
                        <p>Explore how others are gaining insights and efficiencies</p>
                        <span>&raquo; Read more</span>
                    </div>
                    <div id="latest_news_text" class="hide inner_text">
                        <h3>News</h3>
                        <p>Read the latest highlights and updates</p>
                        <span>&raquo; Read more</span>
                    </div>
                </a>
                <div class="visible-xs-block text-right search">
                    <div class="input-group">
                        <input id="search_field" type="text" class="form-control" placeholder="Search BI Center of Excellence..." />
                        <span class="input-group-btn"><a id="search_home" href="#Search" class="onClickLinkMenu btn btn-primary" />Search</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
