
<!-- Sidebar -->
<a href="#main_menu" class="btn btn-default btn-menu-xs" id="menu_xs">MENU</a>
<div id="main_menu" class="toggled">
    <div class="btn-menu"><a href="#main_menu" id="menu">M<br />E<br />N<br />U</a></div>
    <ul>
        <li><a href="@Url.Action("Index", "Home")">CDM Home</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Coming Soon">BI Terms</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Coming Soon">Citrix Data Catalog</a></li>
        <li><a href="#" data-toggle="tooltip" data-placement="right" title="Coming Soon">Prospect Metadata Libraries</a></li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->