<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>21d10d3f-2b6f-4f23-bc4a-f15d71865d87</DefaultValue>
      <Value>21d10d3f-2b6f-4f23-bc4a-f15d71865d87</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePath">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
      <Description>Value for ClientSigningCertificatePath here.</Description>
      <DefaultValue>C:\Certs\HighTrustSampleCert.pfx</DefaultValue>
      <Value>C:\Certs\HighTrustSampleCert.pfx</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
      <Description>Value for ClientSigningCertificatePassword here.</Description>
      <DefaultValue>password</DefaultValue>
      <Value>password</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="IssuerId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
      <Description>Value for IssuerId here.</Description>
      <DefaultValue>11111111-1111-1111-1111-111111111111</DefaultValue>
      <Value>11111111-1111-1111-1111-111111111111</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
  <PropertyGroup>
    <DeployIisAppPath>Default Web Site/</DeployIisAppPath>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <publishUrl>\\CECDVM464\datamarketdemo</publishUrl>
    <DeleteExistingFiles>False</DeleteExistingFiles>
  </PropertyGroup>
</Project>