<script src="~/Scripts/ViewsManager/Citropedia/Home_PartialView.js"></script>


<!-- Citropedia -->

    <div class="container-fluid search_page_template">
        @*<div class="row">
            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12 logo">
                <a class="onClickLinkMenu" href="/Citropedia"><img src="Content/img/logo8.png" /></a>
            </div>
        </div>*@
    </div>
    <div class="container">
    <div class="row">
        <div id="main_content" class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
            <div class="text-center logo" style="position:relative;">
                <img src="Content/img/logo8_citropedia_large.png" style="max-width:60%;" />
            </div>
            <div class="banner">
                <div id="carousel-example-generic2" class="carousel slide" data-ride="carousel" style="width:100%; max-width:550px; max-height:140px; height:140px; margin:0px auto;">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active" style="background-image:url(Content/img/c_banner1.jpg); background-position:right top;">
                            <div class="carousel-caption" style="text-align:left;font-size:20px;">
                                <!--span class="titulo">Citropedia</span><br /-->
                                <p>The language of<br />Business Intelligence<br />at Citrix</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right search citropedia_search">
                <div class="input-group">
                    <input id="search_field" type="text" class="form-control SearchText" placeholder="Search BI Terms..." />
                    <span class="input-group-btn"><a id="search_home" data-idinputasociate="search_field" class="BtnSearch btn btn-primary" />Search</a></span>
                    <span class="input-group-btn dropdown">
                        <a href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Quick links</a>
                        <div class="dropdown-menu" role="menu">
                            <div><a href="http://sharepoint.citrite.net/sites/it/ea/dmo/citropedia/pages/biterms.aspx" target="_blank">BI TERMS</a></div>
                            <div><a href="http://sharepoint.citrite.net/sites/it/ea/dmo/citropedia/pages/prospectmetadata.aspx" target="_blank">Prospect Metadata</a></div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Citropedia -->